GLOBAL_EXAM_LOGIN=global_exam_login
GLOBAL_EXAM_PASSWORD=global_exam_password

# Attente entre chaque validation de questions
# true = attendre la durée de l'audio + temps aléatoire
# false = pas d'attente
WAIT_ENABLED=true

# Temps aléatoire supplémentaire (en millisecondes)
# Le temps d'attente sera: durée audio + random(WAIT_MIN_EXTRA, WAIT_MAX_EXTRA)
WAIT_MIN_EXTRA=2000
WAIT_MAX_EXTRA=8000
WAIT_BASE_TIMER=15000
